

body {

    background: url("/static/image/library-background.jpg");
    background-repeat: no-repeat;
    background-attach: fixed;
}

html {
    font-family: cursive, Monospace;
    font-style: oblique;
}

form {

}

section {

}

div {

}

input {

}

ul {

}

