<!--Template results -->
<!--Inherited from base html template-->
{% extends "base_final.html" %}
<!--html head, Title-->
    {% block title %}
        Author Results
    {% endblock %}

<!--html body-->
    <!--Header block-->
    {% block header %}
        <h2>Author Results for: {{ user_input }}</h2>
        <p><a class="searchlink" href=" {{ search_url }}" > Search url </a></p>
    {% endblock %}


    <!--Content block-->
    {% block content %}
        {% if search_data.title | length %}
            <div>
                <section class="display_img">
                    {% for url in author_cover_url%}
                        <div class="image">
                            {% if url %}
                                <img src="{{ url }}" alt="Author Photo Reference" width="50" height="55">
                            {% else %}
                                <img src="" alt="None" width="50" height="55">
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
                <section class="display_info">
                    {% for key in author_bio %}
                        <div class="info">
                            {% if key.bio != "" %}

                                <p>{{ key.bio }} <br>
                                    {{ key.url }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
                <section>
                    {% for urls in redirect_url %}
                        <ul>
                            <li><a href="{{ urls }}">{{ indentifier }} Search relate link</a> </li>
                        </ul>
                    {% endfor %}
                </section>
            </div>
        {% else %}
            <div class="error">
                <p>
                    Sorry, we could not find any results for your search: {{ user_input }}<br>
                    Please go back and try again.
                </p>
            </div>
        {% endif %}
    {% endblock %}