<!--Template results -->
<!--Inherited from base html template-->
{% extends "base_final.html" %}
<!--html head, Title-->
    {% block title %}
        Author Results
    {% endblock %}

<!--html body-->
    <!--Header block-->
    {% block header %}
        <h2 class="result_h2"><a class="searchlink" href=" {{ search_url }}">
            Author Results For</a>: {{ user_input }}</h2>
    {% endblock %}


    <!--Content block-->
    {% block content %}
        {% if search_data.title | length %}
            <div>
                <section class="display_img">
                    {% for url in author_cover_url%}
                        <div class="image">
                            {% if url %}
                                <img src="{{ url }}" alt="Author Photo Reference" width="50" height="55">
                            {% else %}
                                <img src="" alt="None" width="50" height="55">
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
                <section class="display_info">
                    {% for key in author_bio %}
                        <div>

                            {% if key.bio != "" %}
                                <p class="info">{{ key.bio }} <br>
                                    {{ key.url }}</p>
                            {% else %}
                                <div class="notice">
                                    <p>
                                        There are current no records of author's biography.<br>
                                        Please take a look of one of the link below for more info on the author. (ID: {{ key.author_id }})
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>

            </div>
            <section class="redirect">
                {% for urls in redirect_url %}
                <ul>
                    <li><a href="{{ urls }}">{{ indentifier }} Search related links</a>....  </li>
                </ul>

                {% endfor %}
                <p> ... ...to {{ user_input }}</p>
            </section>
        {% else %}
            <div class="error">
                <p>
                    Sorry, we could not find any results for your search: {{ user_input }}<br>
                    Please go back and try again.
                </p>
            </div>
        {% endif %}
    {% endblock %}