<!--Template author -->
<!--Inherited from base html template-->
{% extends "base_final.html" %}
<!--html head, Title-->
    {% block title %}
        {{ title }}
    {% endblock %}

<!--html body-->
    <!--Header block-->
    {% block header %}
    {% endblock %}

     {% block nav %}
    <!--Navigating-->
        <nav class="nav">
            <div class="container">
                <ul class="drop">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Home</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('author')}}"> Author Search</a>
                            <a href="{{ url_for('index') }}"> General Search</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}

    <!--Content block-->
    {% block content %}
        <div class="ques">
            <p class="question">Who do you want to learn about today?</p>
        </div>
        <!--form where user input book, author, ects for search-->
        <div class="form">
            <form action="{{ url_for('authors') }}" method="POST">
                <!--Search bar-->
                <p>
                    <label for="user_input">Search</label>
                    <input class="input" type="text" id="user_input" name="user_input" required>
                </p>
                <p class="example_search"> <em>Examples:</em></p>
                    <ul class="example_list">
                        <li>Query: Sarah J. Maas <em>or</em> A Court of Thorns and Roses</li>
                        <li>Author: Sarah J. Maas</li>
                    </ul>
                <p>
                    <label for="identifier">Choose a search key:</label>
                    <select class="identifier"  id="identifier" name="identifier" required>
                        <option value="q">Query</option>
                        <option value="author">Author</option>
                    </select>
                </p>
                <!-- Submit buttom-->
                <p>
                    <input class="button" type="submit" value="Submit">
                </p>
            </form>
        </div>
    {% endblock %}

