<!--Base template-->
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Title block-->
        <title> {% block title %} {% endblock %}</title>
        <!--General css-->
        <link rel="stylesheet" href="{{url_for('static', filename = 'style_final.css')}}"/>
    </head>

    <body>
        <header>
            <h1>Welcome!</h1>
            <h2>"Those who wander are not lost"</h2>
            {% block header %} {% endblock %}
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <div>
            <footer>
                Data from <a href="https://openlibrary.org"> Open Library </a>
            </footer>
        </div>
    </body>

</html>