<!--Base template-->
<!DOCTYPE html>
<html lang="en">

    <!--Head-->
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Title block-->
        <title> {% block title %} {% endblock %}</title>
        <!--General CSS-->
        <link rel="stylesheet" href="{{url_for('static', filename = 'style_final.css')}}">
    </head>
    <!--Body-->
    <body>

        <header>
            <div class="header_nav">
                <h2>"--Those who wander are not lost--"</h2>
                {% block header %}
                {% endblock %}
            </div>
        </header>

        <main>
            {% block nav %}
            <!--Navigating-->
                <nav class="nav">
                    <div class="container">
                        <ul class="drop">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropbtn">Home</a>
                                <div class="dropdown-content">
                                    <a href="{{ url_for('author')}}"> Author Search</a>
                                    <a href="{{ url_for('index') }}"> General Search</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
            <!--Content-->
            <section>
                <div class="content">
                    {% block content %} {% endblock %}
                </div>
            </section>
        </main>
        <!--Footer-->
        <div class="foot">
            <footer>
                <!--image src="https://wallpapersafari.com/free-library-wallpaper/"-->
                <!--image src="https://lovepik.com/images/png-design.html"-->
                Data from <a href="https://openlibrary.org"> Open Library </a>
                Image data from <a href='https://lovepik.com/images/png-design.html'>Design Png vectors by Lovepik.com</a> <br>
                and <a href="https://wallpapersafari.com/free-library-wallpaper/">Wallpaper Safari</a>

            </footer>
        </div>
    </body>
</html>